<%= layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings" 
    novalidate class="needs-validation" 
    enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
          name="listing[title]" 
          placeholder="enter title" 
          type="text" 
          class="form-control" 
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">  give your Description & <b>Mobile Number</b></label>
        <textarea 
          name="listing[description]"  
          class="form-control" 
          required><%= typeof listing !== 'undefined' ? listing.description : '' %></textarea>
        <div class="invalid-feedback">Please enter a short description and give your mobile Number</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input 
          name="listing[image]" 
          type="file"
          class="form-control"
          required
     
        />
      </div>


      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input 
            name="listing[price]" 
            placeholder="enter price" 
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input 
            name="listing[country]" 
            placeholder="enter country" 
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter the country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]" 
          placeholder="enter location" 
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the location</div>
      </div>
      <div class="mb-3">
  <label for="type" class="form-label">Listing Type</label>
  <select class="form-select" name="listing[type]" required>
    <option disabled selected value="">-- Choose Listing Type --</option>
    <option>Trending</option>
    <option>Rooms</option>
    <option>Iconic Cities</option>
    <option>Mountain</option>
    <option>Castles</option>
    <option>Amazing Pools</option>
    <option>Camping</option>
    <option>Farms</option>
    <option>Arctic</option>
    <option>Domes</option>
    <option>Boats</option>
  </select>
</div>


      <br /><br />
      <button class="btn btn-dark add-btn mt-3">Add</button>
      <br /><br />
    </form>
  </div>
</div>